@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ==================== */
/* Global Styles */
/* ==================== */

#root {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  background-color: #202020;
  font-family: "Montserrat Alternates", sans-serif; /* Roboto ? */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  color: #3683e2 !important;
  background-color: #202020;
  padding-top: 25px;
  height: 100%;
}


/* TITLES -------------- */

h1 {
  padding: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 0;
}
h2 {
  color: rgb(138, 179, 255);
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.card {
  border-radius: 25px !important;
  flex-direction: column;
  align-items: center;
}

/* LINKS ------------------ */ 

.link-hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: border-bottom-color 0.3s ease;
}

.link-hover:hover {
  border-bottom-color: rgba(0, 0, 0, 0.6);
}

/* ------------------------ */

.custom-hr {
  border: none;
  height: 2px;
  width: 200px;
  background-color: #8c8c8c7a;
  padding: 1rem;
}

.custom-emoji {
  font-size: 2.5rem;
  margin: 2rem;
  margin-bottom: 0.5rem;
}

