@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ==================== */
/* Global Styles */
/* ==================== */

#root {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  background-color: #202020;
  font-family: "Montserrat Alternates", sans-serif; /* Roboto ? */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  /* color: #dadada !important; */
  color: #c0c0c0 !important;
  background-color: #202020;
  padding-top: 25px;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
}


/* TITLES -------------- */

h1 {
  font-size: 2.2rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: #dadada !important;
}

h2 {
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #e6e6e6 !important;
}

h3, h4, p {
  color: #e6e6e6 !important;

}

.text-muted {
  color: #B3B3B3 !important;
}

.card {
  max-width: 350px;
  min-width: 95% !important;
  /* min-height: 350px; */
  height: auto;
  border-radius: 25px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #E0E0E0 !important;
  /* background-color: #c5c5c5; */
  background-color: #2B2B2B;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

img {
  width: 95% !important; 
  height: auto;
  max-width: 375px !important;
  /* min-width: 240px !important; */
  /* margin: 0.5rem; */
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.mini-logo {
  margin: 2.5rem;
  margin-bottom: 0rem;
  width: 30px !important;
  height: 30px !important;
}


/* LINKS ------------------ */ 

.link-hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(254, 254, 254, 0.373);
  text-decoration: none;
  transition: border-bottom-color 0.3s ease;
}

.link-hover:hover, .link-hover:active {
  border-bottom-color: rgba(0, 0, 0, 0.6);
  color: rgb(76, 177, 249) !important;
}



/* BUTTONS  ---------- */
.btn {
  /* width: 320px !important; */
  width: 200px;
  font-size: 0.8rem;
  color: #dadada !important;
  background-color: #5a5a5a !important;
  min-width: 75px;
  border: solid 1px #b0b0b0 !important;
  box-shadow: 4px 4px 15px rgba(254, 254, 254, 0.373);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-weight 0.3s ease-in-out !important;
  /* margin-top: 50px !important; */
  margin: 1.5rem;
  padding: 0.35rem;
}

.btn:hover, .btn:active {
  transform: scale(1.05);
  /* background-color: #616161 !important; */
  box-shadow: 6px 6px 20px rgba(254, 254, 254, 0.6);
  border: solid 1px rgb(76, 177, 249) !important;
  font-weight: bold;
}


/* ---------- top & back btns */

.btn-top-again, .btn-back {
  background-color: #3b3b3b !important; 
  box-shadow: 2px 2px 7px rgba(254, 254, 254, 0.373);
  border: solid 1px rgb(123, 123, 123) !important;
  margin: 0.5rem;
}

.btn-top-again:hover, .btn-back:hover {
  box-shadow: 3px 3px 10px rgba(254, 254, 254, 0.6);
  /* border: solid 1px rgb(49, 49, 49) !important; */
}


/* ------------------------- */

.loader-container {
  height: 75vh;
  padding-top: 5rem;
}

.days-ago {
  color: grey !important;
}

/* ------------------------- */

.custom-hr {
  border: none;
  height: 2px;
  width: 200px;
  background-color: #8c8c8c7a;
  padding: 1rem;
}

.custom-emoji {
  font-size: 2.5rem;
  margin: 2rem;
  margin-bottom: 0.5rem;
}

