.content-list {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.content-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* recups by content ------------- */
/* category and keywords ---------- */

.content-category {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a2a2a2 !important; 
  margin-bottom: 1rem;
}

.content-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tag-badge {
  background-color: #494949;
  padding: 0.4rem 0.8rem;
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}


/* image ------------- */
/* Ensuring that the container allows the image to scale properly */
.image-container {
  display: flex;
  direction: row;
  justify-content: center;

}

.img-fluid {
  /* width: 90% !important; */
  max-width: 490px !important;
  height: auto;
  /* display: block; */
}


/* CARDS ------------- */

.content-card {
  min-height: 240px;
  /* min-width: 240px !important; */
}
.request-edit {
  font-size: 0.65rem;
  font-size: 0.65rem;
  color: grey !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none !important;
}

.request-edit a {
  color: grey !important;
  text-decoration: none !important;
  transition: transform 0.3s ease-in-out;
}

/* .request-edit a:hover, .request-edit a:active{
  transform: scale(1.05);
  color: #4CB1F9 !important;
} */

.request-edit:hover, .request-edit:active {
  fill: #4CB1F9 !important; 
  transform: scale(1.05);
  color: #4CB1F9 !important;
}

.request-edit {
  width: 24px !important;
  height: 16px;
  margin: 0.25rem;
  margin-right: 0 !important;
  /* transition: transform 0.3s ease-in-out; */
}

