/* SIGNUP ----------------------------- */

.signup-login {
  max-width: 400px;
  width: 90%;
  margin: 2.5rem auto;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px #fce149;
}

label {
  margin: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

input {
  padding: 0.5rem !important;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.btn-primary {
  margin-top: 2.5rem;
}
