.footer {
  /* background-color: #2B2B2B; */
  /* background-color: #272727; */
  background-color: #222528;
  color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: auto;
}

.footer-logo-img {
  width: 27px !important;
  height: auto;
  cursor: pointer;
  margin: 0.30rem !important;
  margin-top: 0.75rem !important;
  transition: 0.5s ease;
}

.footer-logo-img:hover, .footer-logo-img:active {
  transform: scale(1.25);
  /* box-shadow: 6px 6px 20px rgba(254, 254, 254, 0.6); */
}

.footer-recup {
  font-family: "McLaren", sans-serif;
  font-size: 1rem;
  margin-top: 0 !important;
  margin: 0.25rem;
}

.footer-recup a:hover, .footer-recup a:active {
  transform: scale(1.1) !important;
  /* color: #4CB1F9 !important; */
}

.footer-text {
  font-size: 0.65rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.footer-links {
  font-size: 0.65rem;
  color: grey !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.footer-links a, .footer-recup a {
  /* color: grey !important; */
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}


.footer-links a {
  color: grey !important;
}

.footer-recup a, .footer-text {
  color: #dadada !important;
}

.footer-links a:hover, .footer-links a:active {
  transform: scale(1.05);
  color: #4CB1F9 !important;
}

.footer-links a:hover .footer-svg {
  fill: #4CB1F9 !important; 
}

.footer-svg {
  width: 24px !important;
  height: 16px;
  margin: 0.2rem;
  margin-left: 5px !important;
  /* transition: transform 0.3s ease-in-out; */
}

.footer-svg:hover, .footer-svg:active {
  fill: #4CB1F9 !important;
  /* transform: scale(1.05); */
}

.footer-year {
  font-size: 0.65rem;
  font-style: italic;
  color: grey;
  /* font-weight: 600; */
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}




/* ----- prefooter */

.pre-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
}

.logo-container {
  margin-bottom: 0.5rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

/* ----- navbar */

.navbar-brand {
  font-family: "McLaren", sans-serif;
  font-size: 1.3rem;
  margin-top: 0 !important;
  margin-left: 0.5rem;
  transition: 0.5s ease-in-out;
}

.navbar-brand:hover, .navbar-brand:active {
  transform: scale(1.05);
  text-shadow: #dbdbdb 0.5px 0 0.5px;
}

.navbar-toggler {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  border: none; 
}

/* .navbar-toggler:hover, .navbar-toggler:active {
  transition: 0.3s ease-in-out;
} */

.navbar-toggler:hover, .navbar-toggler:active {
  transform: scale(0.90);
  background-color: #2B2B2B;
  border: none; 
}

.navbar-toggler.active {
  border: none; 
}

.nav-item {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.navbar-brand, .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  /* transition: 0.3s ease-in-out; */
}

.nav-link:hover, .nav-link:active {
  color: #dbdbdb !important;
  background-color: #2B2B2B;
}

.nav-link.active {
  color: #dbdbdb !important;
  background-color: #2B2B2B !important;
  font-weight: 600 !important;
}
