.form-control {
  /* min-width: 420px !important; */
  /* max-width: none; */
  width: 100%;
  /* width: 100% !important; */
  min-width: 350px;
  padding: 0.42rem;
  margin-bottom: 15px;
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: #d3d3d3;
  color: #303030;
}

.new-content-form {
  background-color: #1c1c1c14;
  border-radius: 15px;
  padding: 2.5rem;
  max-width: 600px;
  margin: 1rem auto;
  box-shadow: 0 4px 12px #4CB1F9;
  /* box-shadow: 0 4px 12px #fce149; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-label {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.5rem;
  color: #b4b4b4;

  /* this makes no sense but apparently works */
  padding-right: 24px !important;
}

.new-content-form label.form-label {
  margin-top: 2rem;
  margin-bottom: 0;
}

.new-content-form input, 
.new-content-form textarea {
  width: 100% !important;
  min-width: 350px;
  padding: 0.42rem;

  margin-bottom: 0rem;

  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: #d3d3d3;
  color: #303030;
}
/* 
/* textarea {
  resize: vertical;
} */ */

/* .form-text {
  margin-top: 0;
} */




/* THIS IS ALL REACT TAGS... */
.ReactTags__tags {
  /* width: 320px !important; */
  padding: 0.1rem;
  padding-bottom: 0.25rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #c4c4c4; */
  width: 100%;
}

.ReactTags__tagInputField {
  padding: 0.25rem 1rem;
  margin-bottom: 0.2rem;
  color: #555;
  background-color: #f7f7f7;
  background-image: none;
  border: 1px solid #898989;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  width: 100%;
}

.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 0.5rem;
  margin-bottom: 5px;
  /* width: 100%; */
}

.ReactTags__tagInputField:focus {
  background-color: #f7f7f7;
  border-color: #4CB1F9;
}

.ReactTags__tag {
  color: #a7a7a7;
  background-color: #3f3f3f;
  border: none;
  border-radius: 7px;
  padding: 0.25rem 0.5rem;
}

.ReactTags__remove {
  padding: 0rem 0.4rem;
  padding-left: 0.55rem;
  padding-bottom: 0.15rem;
  margin-left: 0.75rem;
  background-color: rgb(46, 46, 46);
  border-radius: 7px;
}

.ReactTags__remove:hover {
  background-color: rgb(255, 109, 109);
}

#react-tags-id {
  max-width: 300px !important;
  width: 100% !important;
}

#media {
  max-width: 300px !important;
  width: 100%;
}

@media (max-width: 768px) {
  
  .new-content-form input, 
  .new-content-form textarea, .react-tags-input {
    max-width: 290px !important;
  }

  .new-content-form {
    max-width: 400px !important;
    width: 100%;
    
  }

  .form-control {
    min-width: 300px !important;
    /* padding: 0.5rem; */
  }

  .form-label {
    font-size: 0.9rem;
    width: 100%;
    /* align-items: center; -- check THIS */
  }

  .form-text {
    font-size: 0.75rem;
  }
}